title Bad Link
meta(property="og:title" content="Bad Link")
meta(property="og:description" content="This link is invalid.")
meta(name="description", content="This link is invalid")

meta(property="og:url" content="https://linkroller.azurewebsites.net/roll")
meta(property="og:type" content="website")

link(rel="stylesheet", href="/style.css")

div(class="centered")
    h1 This link is invalid.
    h2 Please try a different link.
    h1 #[span(class="loadinganim") .]#[span(class="loadinganim" style="animation-delay: 0.2s") .]#[span(class="loadinganim" style="animation-delay: 0.4s") .]